# Task 2.1 Write a function in python that drop columns having Pearson correlation more than 0.85

In [19]:
# Importing Libraries
import numpy as np
import pandas as pd

# Dummy data
data = {'GA' : [0.033, 0.034, 0.035, 0.022, 0.035, 0.033, 0.035, 0.035],
        'PN' : [6.652, 9.039, 10.936, 10.11, 2.963, 10.872, 21.694, 10.936],
        'PC' : [6.681, 6.224, 10.304, 9.603, 17.156, 10.244, 22.389, 10.304],
        'MBP' : [0.194, 0.194, 1.015, 1.374, 0.599, 1.015, 1.015, 1.015],
        'GR' : [0.874, 1.137, 0.911, 0.848, 0.823, 0.574, 0.859, 0.911],
        'AP' : [3.177, 3.4, 4.9, 4.566, 9.406, 4.871, 9.259, 4.5]
    }


# Converted to dataframe
df = pd.DataFrame(data)
df

      GA      PN      PC    MBP     GR     AP
0  0.033   6.652   6.681  0.194  0.874  3.177
1  0.034   9.039   6.224  0.194  1.137  3.400
2  0.035  10.936  10.304  1.015  0.911  4.900
3  0.022  10.110   9.603  1.374  0.848  4.566
4  0.035   2.963  17.156  0.599  0.823  9.406
5  0.033  10.872  10.244  1.015  0.574  4.871
6  0.035  21.694  22.389  1.015  0.859  9.259
7  0.035  10.936  10.304  1.015  0.911  4.500

In [18]:
# Dummy correlation matrix
corr_matrix = df.corr().abs()
corr_matrix

           GA        PN        PC       MBP        GR        AP
GA   1.000000  0.070541  0.259937  0.452661  0.115722  0.268014
PN   0.070541  1.000000  0.512536  0.447831  0.042238  0.263601
PC   0.259937  0.512536  1.000000  0.331354  0.254312  0.958877
MBP  0.452661  0.447831  0.331354  1.000000  0.467683  0.229870
GR   0.115722  0.042238  0.254312  0.467683  1.000000  0.248777
AP   0.268014  0.263601  0.958877  0.229870  0.248777  1.000000

In [20]:
# Define function to analyse pearson correlation with parameters - Correlation Matrix and Threshold value(0.85)
def Pearson_Correlation(corr_matrix, threshold):
    
# Select upper triangle of correlation matrix
    upper_part = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
    
# Find features with correlation greater than threshold
    to_drop = [column for column in upper_part.columns if any(upper_part[column] > threshold)]
    
# Drop features 
    df.drop(to_drop, axis=1, inplace=True)
    return df


# FInally, calling function
print(Pearson_Correlation(corr_matrix, 0.85))

      GA      PN      PC    MBP     GR
0  0.033   6.652   6.681  0.194  0.874
1  0.034   9.039   6.224  0.194  1.137
2  0.035  10.936  10.304  1.015  0.911
3  0.022  10.110   9.603  1.374  0.848
4  0.035   2.963  17.156  0.599  0.823
5  0.033  10.872  10.244  1.015  0.574
6  0.035  21.694  22.389  1.015  0.859
7  0.035  10.936  10.304  1.015  0.911