# Task 5.1 -  Write a python function that extract zip code from an address column.

In [9]:
# Importing Libraries
import numpy as np
import pandas as pd
# importing regex module to filter out zip code from data    
import re

# Dummy data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi 12435-6554', 'Kanpur 68457-8457', 'Allahabad 44644-5445', 'Kannauj 46855-6485'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}


# Converted to dataframe
data = pd.DataFrame(data)
data

     Name  Age               Address Qualification
0     Jai   27      Delhi 12435-6554           Msc
1  Princi   24     Kanpur 68457-8457            MA
2  Gaurav   22  Allahabad 44644-5445           MCA
3    Anuj   32    Kannauj 46855-6485           Phd

In [11]:
# Define function to extract zip codes from address
def Zip_code(data):
    
# Search for address features in data using list comprehension
# Address columns will be returned in a list    
    address_feature = [feature for feature in data.columns if 'Address' in feature or 'address' in feature]
    
# Iterating through each address column in the list  
# Extracting zip code(as per guidelines) and inserting into new dataframe column('Zip')
    for col in address_feature:        
        data['Zip'] = data[col].str.extract(r'(\d{5})')
        
# Returning updated data
        return data
        
 
# Finally calling function
Zip_code(data)

     Name  Age               Address Qualification    Zip
0     Jai   27      Delhi 12435-6554           Msc  12435
1  Princi   24     Kanpur 68457-8457            MA  68457
2  Gaurav   22  Allahabad 44644-5445           MCA  44644
3    Anuj   32    Kannauj 46855-6485           Phd  46855